/* "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables" */
@import "bootstrap-sprockets";
@import "bootstrap";


.messages {
  .message-user {
    font-weight: bold;
    margin-right: 10px;
  }
  .message-body {
    margin-right: 10px;
  }
  .message-time {
    font-style: italic;
    color: #999999;
  }
}
